<html>
    <head>
        <title>Lazy Thoughts</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I'm not lazy, I'm just very relaxed.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Laziness (also called indolence) is a disinclination to activity or exertion despite having the ability to act or exert oneself. It is often used as a pejorative; terms for a person seen to be lazy include couch potato, slacker, and bludger.</p>
        </div>
    </body>
</html>